body{
    background-image: url(../assets/37118277_522670974876747_6029393558207725568_n.jpg);
    background-attachment:fixed ;
    height: 100vh;
    background-size: cover;
    background-position: center;
    
}
nav{
    display: flex;
}
ul1{
    color: #fff;
    background-color: black;
display: flex;
list-style: none;
width: 500px;
margin-left: 800px;
justify-content: space-between;
margin-top: 27px;
flex: size adjust 5px; ;
}
ul{
    margin-left: 10px;
    height: 20px;
}
div{
    margin-top: 250px;
    margin-left: 400px ;
    color: black;
    text-transform: uppercase;
    font-size: 60px;
    font-style: oblique;
}

